.modal.active {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    background-color: var(--color-white) !important;
    opacity: 1 !important;
    inset: 0 !important;
    z-index: 100 !important;
}