.modal.active {
    width: 100vw !important;
    height: 100vh !important;
    background-color: var(--color-white) !important;
    opacity: 1 !important;
    inset: 0 !important;
    z-index: 100 !important;
}