form {
    width: 100%;
    min-width: 250px;
    max-width: 300px;
    border: 5px dashed #15fc00;
    padding-block: 30px;
    padding-inline: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 10px;
    color: var(--color-black);
}

.d-flex input, textarea, .radios, input[type="submit"] {
    border: 2px dashed #ff0095;
    background-color: transparent;
}

.d-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.d-flex input {
    display: inline-flex;
    align-items: center;
    height: 25px;
}

.d-flex input, textarea {
    padding-left: 5px;
    font-family: inherit;
}

input:focus-visible,
textarea:focus-visible {
    border: none;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 40px;
    min-height: 40px;
}

.radios {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.radios__legend {
    margin-left: 4px;
}

input[type="radio"],
input[type="checkbox"],
input[type="submit"] {
    cursor: pointer;
}

input[type="submit"] {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    height: 35px;
    font-family: inherit;
}

.field__errors {
    font-size: 12px;
    color: red;
}

.header__exit.is-visible {
    display: inline-block !important;
}