* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #fff;
    --color-dark: #202020;

    --color-black: var(--color-dark);
    --color-white: var(--color-light);

    --color-accent: #e94141;

    --input-height: 40px;

    --transition-duration: 0.3s ease-in-out;
}

html.is-dark-theme {
    --color-black: var(--color-light);
    --color-white: var(--color-dark);
}

body {
    position: relative;
    /* overflow: hidden; */ 
    background-color: var(--color-white);
    color: var(--color-black);
}

a, button, input {
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    background-color: transparent;
    color: var(--color-black);
}

.button {
    display: inline-flex;
    align-items: center;
    padding-inline: 10px;
    height: 30px;
    border: 2px dashed;
}

.button:hover {
    border-color: var(--color-accent);
}

.header__logo:hover {
    background-color: var(--color-accent) !important;
}

:focus-visible {
    outline: 2px dashed var(--color-black);
    outline-offset: 2px;
    transition-duration: 0s !important;
}