html.is-dark-theme {
    --color-black: var(--color-light);
    --color-white: var(--color-dark);

    .field__checkbox-input::after,
    .radio__control::after,
    .todo-item__checkbox::after {
        background: url(../assets/icon/icon-check__dark.svg) center/contain no-repeat;
    }

    #search-task:placeholder-shown {
        background-image: url(../assets/icon/icon-search_light.svg);
    }

    @media(max-width: 768px) {
        .header__exit::after {
            content: url(../assets/icon/icon__exit-light.svg);
        }
    }
}

body {
    font-family: var(--font-family);
    position: relative;
    background-color: var(--color-white);
    color: var(--color-black);
}

body.scroll-lock {
    overflow: hidden;
}

.container {
    padding: 10px;
}

a, button, input {
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    background-color: transparent;
    color: var(--color-black);
}

.button {
    display: inline-flex;
    align-items: center;
    padding-inline: 12px;
    height: 30px;
    border: 2px dashed;

    &:hover {
        border-color: var(--color-accent); 
    }

    &:focus {
        outline: none;
        border-width: 3px;
        border-color: var(--color-accent);
    }
}

:focus-visible {
    outline: 2px dashed var(--color-black);
    outline-offset: 2px;
    transition-duration: 0s !important;
}